@{
    ViewBag.Title = "E-mail check";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Check your e-mail and your address.
</p>
<p class="text-danger">
    DEMO: If your e-mail do not arrive click on this link: <a href="@ViewBag.Link">link</a>
</p>
