@{
    ViewBag.Title = "Forgotten password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your e-mail to change your password.
    </p>
    <p class="text-danger">
        <h4>@ViewBag.Status <a href="@ViewBag.LinkAcesso">Access link</a></h4>
    </p>
</div>

